html {
  scroll-snap-type: y mandatory;
}

.app {
  background-color: black;
  height: 100%;

  display: grid;
  place-items: center;
  /*un piccolo hack per fare centrare un blocco di elemento dobbiamo usare 1.display: grid, 2.place-items: center;  possiamo centrare gli elementi con il tag html <center></center>*/
}

.app_videos {
  height: 500px;
  overflow: scroll;
  /* quando un contenitore di un elemento e' piu' piccolo di dell'elemento stesso, possiamo risolvere sto problema con la propieta' OVERFLOW E I SUOI VALORI*/
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  background-color: white;
  border-radius: 20px;
}

.app_videos::-webkit-scrollbar {
  display: none;
}

/*per togliere il scrollbar e rendere lo scroll piu' liscio*/
